.youtube-sync__container {
  position: relative;
}

.youtube-sync__player {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s;
  pointer-events: none;
}

.youtube-sync__player--active {
  opacity: 1;
  pointer-events: auto;
}

.youtube-sync__links__link {
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  left: 0;
  border: 15px solid red;
  border-radius: 100%;
  transform-origin: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  transform: translateX(-15px) translateY(-15px);
}

